.container-marquee {
    display: block;
    height: 400px;
}

.svg-marquee {
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

.svg-line-marquee {
    stroke: white;
    stroke-width: 2;
    stroke-dasharray: 5, 5;
}

.dragging {
    border: 4px solid #999;
}